doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge,chrome=1')
  meta(name='viewport' content='width=device-width,initial-scale=1.0,maximum-scale=1')
  title Ashmi Patel - Information
  link(rel='shortcut icon' href='favicon.ico')
  // Google Font
  link(href='http://fonts.googleapis.com/css?family=Roboto:400,300italic,300,100italic,100,400italic,500,500italic,700,900,900italic,700italic%7COswald:400,300,700' rel='stylesheet' type='text/css')
  // Design Style
  link(rel='stylesheet' type='text/css' href='css/scroll.css')
  link(rel='stylesheet' type='text/css' href='css/main.css')
  // Icon
  link(rel='stylesheet' type='text/css' href='css/font-awesome.css')
  // Portfolio Thumbnail / Slider
  link(rel='stylesheet' type='text/css' href='css/portfolio.css')
  link(rel='stylesheet' type='text/css' href='css/carousel.css')
  // Responsive
  link(rel='stylesheet' type='text/css' href='css/responsive.css')
  // Pie Chart / Skills
  script(type='text/javascript' src='js/jquery-2.0.3.min.js')
  // Progressbar / Skills
  script(type='text/javascript' src='js/progressbar.js')
  // Portfolio
  script(src='js/modernizr.custom.js')
#container.container
  // Left Menu / Logo
  aside#menu.menu
    .logo
      // Logo image
      img(src='images/logo.png' width='140' height='140' alt='')
      // Logo name
      span Ashmi Patel
    // Mobile Navigation
    a.menu-link(href='#menu1')
    // Left Navigation
    nav#menu1(role='navigation')
      a(href='#chapterintroduction')
        span#link_introduction.active Home
      a(href='#chapterabout')
        span#link_about About
      a(href='#chapterskills')
        span#link_skills Skills
      a(href='#chapterexperience')
        span#link_experience Experience
      a(href='#chaptereducation')
        span#link_education Education
      a(href='#chapterportfolio')
        span#link_portfolio Portfolio
      a(href='#chaptercontact')
        span#link_contact Contact
    .social
      a.facebook(href='https://www.facebook.com/ashmi.patel.716' target='_blank')
        i.fa.fa-facebook
      a.twitter(href='https://twitter.com' target='_blank')
        i.fa.fa-twitter
      a.google-plus(href='https://www.linkedin.com/in/ashmi-patel-5351a2140' target='_blank')
        i.fa.fa-linkedin
    .copyright
      | &copy; Ashmi Patel.
      br
      |       All Rights Reserved.
  // Go to top link for mobile device
  a.totop-link(href='#menu') Go to the top
  .content-scroller
    .content-wrapper
      // Introduction
      article#chapterintroduction.content.introduction.noscroll
        .inner
          h2
            span HEllo, I&apos;m
            br
            |             Ashmi Patel
          span.title Web Designer / PHP Developer / Backend Developer
        #owl-demo.owl-carousel
          .item
            img(src='images/ash.jpg' alt='')
          .item
            img(src='images/ashmi2.jpg' alt='')
          .item
            img(src='images/ashmi3.jpg' alt='')
      // About
      article#chapterabout.content.about.white-bg
        .inner
          h2 About
          .title-divider
          .about-con
            ul
              li Name: Ashmi Patel
              li
                | Email: 
                a(href='mailto:ashppatel93@gmail.com') ashppatel93@gmail.com
              li Phone: (705)-500-7678
              li Date of birth: 31 January 1993
              li Address: 406 Hickling Trail, Barrie, ON, CANADA.
              li Nationality: INDIAN
            h3 Professional Profile
            p
              | I develop cutting edge Web applications using PHP&apos;s wealth of frameworks.I don&apos;t code in PHP some of the time, I code in PHP all of the time!
              br
            a.button(href='#') Download resume as PDF format
            img.signature(src='images/sign.png' alt='')
      // Skills
      article#chapterskills.content.skills.gray-bg
        .inner
          h2 Skills
          .title-divider
          h3 Keep calm and love CODEIGNITER...
          p
            | Love beautiful code? I do too. Value elegance, simplicity, readability, these are some of the reasons why I love to code using PHP&apos;s framework.
          .skills-con
            .container-sub.margin-top50
              .row
                .col-6.margin-bottom50
                  .col-6
                    span.chart(data-percent='96')
                      span.percent
                  .col-6.chart-text
                    h4 MVC Codeigniter 
                    p Expert, 3 years
                .col-6.margin-bottom50
                  .col-6
                    span.chart(data-percent='88')
                      span.percent
                  .col-6.chart-text
                    h4 Laravel Wordpress
                    p Advanced, 3 years
                .col-6
                  .col-6
                    span.chart(data-percent='90')
                      span.percent
                  .col-6.chart-text
                    h4 Backend Webservices Rest API SQL
                    p Expert, 3 years
                .col-6
                  .col-6
                    span.chart(data-percent='96')
                      span.percent
                  .col-6.chart-text
                    h4 HTML5 CSS3 JavaScript jQuery AJAX Bootstrap
                    p Expert, 3 years
            .full-divider
            .container-sub
              .row
                h3 Language Skills
                .progressbar-main.margin-top50
                  .progress-bar-description English Experienced
                  #progressBar.progress
                    .progress-value
                .progressbar-main.margin-top40
                  .progress-bar-description Gujarati Advanced
                  #progressBar2.progress
                    .progress-value
                .progressbar-main.margin-top40
                  .progress-bar-description Hindi Basic
                  #progressBar3.progress
                    .progress-value
      // Experience
      article#chapterexperience.content.experience.white-bg
        .inner
          h2 Experience
          .title-divider
          h3 3 Years Experience!
          p
            | I develop cutting edge Web applications using PHP&apos;s wealth of frameworks.I don&apos;t code in PHP some of the time, I code in PHP all of the time!
          .experience-con
            .container-sub
              .full-divider
              .row
              .experience-details
                .col-6.margin-bottom50.margin-top50
                .col-3.icon-block
                  i.fa.fa-briefcase
                .flot-left
                  h5 RenegadeDigital Media
                  h4 Web Developer - COOP Position
                  span Sep2018 - Dec2018
                .col-6.margin-bottom50.margin-top50.no-margin-top
                | Renegade is a full-service agency dealing in healthcare communications and digital marketing. What makes us unique is the way we seamlessly bring together strategy, content development, and tactical execution all under one roof.
              .full-divider
                .experience-details
                  .col-6.margin-bottom50.margin-top50
                    .col-3.icon-block
                      i.fa.fa-briefcase
                    .flot-left
                      h5 Oceans Technologies
                      h4 PHP Developer
                      span 2015 - 2017
                  .col-6.margin-bottom50.margin-top50.no-margin-top
                    | Oceans Technologies started as a simple web and mobile app design and development service provider company in India to provide offshore mobile application development services to different clients around the world.
                    | https://www.oceanstechnologies.com/
                .full-divider
                .experience-details
                  .col-6.margin-bottom50.margin-top50
                    .col-3.icon-block
                      i.fa.fa-briefcase
                    .flot-left
                      h5 StarLand IT Solution
                      h4 Jr. PHP Developer
                      span 2014 - 2015
                  .col-6.margin-bottom50.margin-top50.no-margin-top
                    | Starland IT Solution is a Professional &amp; Offshore Web Development Company having Channel Partners over the Globe. It Offered with the most expert and propelled assets, we bring the most palatable results for your offline and online business.
                    | https://starland.co.in/
      // Education
      article#chaptereducation.content.education.gray-bg
        .inner
          h2 Education
          .title-divider
          h3 My Education
          p
          .education-con
            .container-sub
              .full-divider
              .row
                .education-details
                  .col-6.margin-bottom50.margin-top50
                    .col-3.icon-block
                      i.fa.fa-photo
                    .flot-left
                      h5 Georgian College
                      h4 Computer Programmer
                      span 2018 - 2020
                  .col-6.margin-bottom50.margin-top50.no-margin-top
                    | At Georgian, we work with industry and community partners to offer relevant, cutting-edge curriculum, quality work placements and co-op experiences with top employers.
                .full-divider
                .education-details
                  .col-6.margin-bottom50.margin-top50
                    .col-3.icon-block
                      i.fa.fa-laptop
                    .flot-left
                      h5 Silver Oak College
                      h4 Computer engineering
                      span 2010 - 2014
                  .col-6.margin-bottom50.margin-top50.no-margin-top
                    | The Silver Oak group of Institutes is known for its &ldquo;Out of Box&rdquo; initiatives and emphasis on &ldquo;Education to Innovation&rdquo;. Today it is one of the most sought after institutes for pursuing engineering education in engineering across the state of Gujarat.
      // Pportfolio
      article#chapterportfolio.content.portfolio.white-bg
        .inner
          h2 Work
          .title-divider
          h3 Our portfolio features a variety of projects and services
          .portfolio-con
            .container-sub.margin-top50
              .row
                #grid-gallery.grid-gallery
                  section.grid-wrap
                    ul.grid
                      li
                        figure
                          img(src='images/work/Emoji.png' alt='')
                      li
                        figure
                          img(src='images/work/Facets.png' alt='')
                      li
                        figure
                          img(src='images/work/GoSafe.png' alt='')
                      li
                        figure
                          img(src='images/work/Liberty.png' alt='')
                      li
                        figure
                          img(src='images/work/Parvati_Impex.png' alt='')
                      li
                        figure
                          img(src='images/work/TouchIT.png' alt='')
                      li
                        figure
                          img(src='images/work/Touch_it.png' alt='')
                      li
                        figure
                          img(src='images/work/swagpic.png' alt='')
      // Contact
      article#chaptercontact.content.contact.gray-bg
        .inner
          h2 Contact
          .title-divider
          h3 Let&apos;s Keep In Touch
          .full-divider
          .contact-con.margin-top50
            .container-sub
              .row
                .contact-details
                  .col-6
                    .contact-text
                      .col-2.icon-block.address
                        i.fa.fa-map-marker
                      .flot-left
                        strong Ashmi Patel
                        br
                        |                         406 Hickling Trail, Barrie,
                        br
                        |                         ON, CANADA.
                    .contact-text
                      .col-2.icon-block.phone
                        i.fa.fa-phone
                      .flot-left
                        strong Phone
                        br
                        |                         +1 705-500-7678
                    .contact-text
                      .col-2.icon-block.email
                        i.fa.fa-envelope
                      .flot-left
                        strong Email
                        br
                        a(href='mailto:ashppatel93@gmail.com') ashppatel93@gmail.com
                  .col-6.m-margin-top30
                    h3 I&apos;m also on Social Networks
                    .contact-social.margin-top30
                      a(href='https://www.facebook.com/ashmi.patel.716' target='_blank')
                        i.fa.fa-facebook
                      a(href='https://www.linkedin.com/in/ashmi-patel-5351a2140' target='_blank')
                        i.fa.fa-linkedin
            .full-divider
            .container-sub
              .row
                .contact-form
                  h3 Drop Me a Line
                  form#form1(name='form1' action='#')
                    input#name(name='name' type='text' placeholder='Your Name...')
                    input#email(name='email' type='text' placeholder='Your Email...')
                    textarea#message(name='message' cols='45' rows='5' placeholder='Your Message...')
                    input#button(type='submit' name='button' value='say hello!')
                    #successmsg
      // Introduction
      article#chapterthankyou.content.introduction-end
        .inner
          .introduction-end-con.margin-top50
            h3
              strong Ashmi Patel
            #rotate.rotate
              div
                span awesome.
              div
                span invincible.
              div
                span unbeatable.
              div
                span indestructible.

script(type='text/javascript' src='js/jquery.min.js')
script(type='text/javascript' src='js/head.min.js')
// Portfolio Thumbnail
script(type='text/javascript' src='js/imagesloaded.min.js')
script(type='text/javascript' src='js/masonry.min.js')
script(type='text/javascript' src='js/class_helper.js')
// Portfolio Slider
script(type='text/javascript' src='js/carousel.js')
script(type='text/javascript' src='js/jquery.easypiechart.js')
script(type='text/javascript' src='js/text.rotator.js')
// Page Scrolling
script.
  head.js(
  { mousewheel : "js/jquery.mousewheel.js" },
  { mwheelIntent : "js/mwheelIntent.js" },
  { jScrollPane : "js/jquery.jscrollpane.min.js" },
  { history : "js/jquery.history.js" },
  { stringLib : "js/core.string.js" },
  { easing : "js/jquery.easing.1.3.js" },
  { smartresize : "js/jquery.smartresize.js" },
  { page : "js/jquery.page.js" }
  );
// Fit Video
script(type='text/javascript' src='js/jquery.fitvids.js')
// All Javascript Component
script(src='js/settings.js')
